<div class="row-layout-center">
    <div style="width:196px;" class="row-layout-space-between-center">
        <div class="row-layout-start">
             <img src="../../assets/black-piece.png" width="64px" height="64px">
             <p class="score-font">: {{score.X}}</p>
        </div>
       
        <div class="row-layout-start">
            <img src="../../assets/white-piece.png" width="62px" height="62px">
            <p class="score-font">: {{score.O}}</p>
        </div>
    </div>
</div>
